/* +++++++++++++++++++++++++++++++++NEW CODE FROM TEST ++++++++++++++++++++++++++++++++++++*/
#players-container {
	background-color: blueviolet;
	width: 100%;
	display: grid;
	/*overflow: auto;*/
}

	
.player-container{
	/*width: 100%;
	margin: auto;
	text-align: center; 
	*/
}

/* ++++++++++++++++++++++++++++++++++++++++++++++*/

.former-player{
	/*background-color: yellow;*/
	width: 60%;  /*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]*/
	margin: auto; /* Centers player info*/ 
	color: #ffffff;
	/*font-family: 'Coming Soon', cursive; /* ++++++++PROBLEM IS HERE!! */
	/*font-family: Arial, Helvetica, sans-serif; */


	/*width: 100%;*/
	/*margin: auto;*/
	/*text-align: center;*/

}

/*
.current-player-container{
	background-color: green;
	width: 100%; 
	margin: auto;
}
*/

.current-player{
	/*background-color: yellow;*/
	width: 100%; /*60%;/*+++++++++++++++++++++++++++++++++++CHANGED FROM 67% */
	margin: auto;
}



.save-button-container{
	background-color: green;
	float: left;
	width: 20%;
	/*position: relative;*/
	text-align: center;
}


.save-button{
	width: 50px;
}

.php-data-container{
	width: 60%;
	margin: auto;
	background-color: pink;
	float: left;
}

.former-player-name{
	background-color: red;
	float: left;
	/*margin-right: 80px; */
}


/* +++++++++++++++++++++++POSSIBLY OBSELETE!! +++++++++++++++++++++++++++++*/
/*.current-player > .player-name{ /* THIS DIV WAS REMOVED, SO THIS COULD BE A PROBLEM!!! +++++++++++++
	/*margin-left: 72px;*/
	/*position: absolute; /* ++++++STOPS JUDDERING*/
/*}*/





/*
.player-score{
background-color: grey;
float: right;
}
*/

.former-player-score{
	background-color: grey;
	float: right;
}

.current-player-score{
	background-color: turquoise;
	float: right;
}


/*
.name-input{
margin-left: 50px;
}
*/
/* +++++++++++++++++++++++++++++++++END OF NEW CODE FROM TEST ++++++++++++++++++++++++++++++++++++*/

.replay-button-container {
	/*background-color: yellow;*/
	/*margin: auto;*/
	margin-top: 0px; 
}


input[type="text"]{
    background: rgba(0, 0, 0, 0);
    border: none;
	outline: none;
}



/*style input and placeholder text */
.name-input, ::placeholder  {
	color: #ffffff;
	
	font-size: 16px;
	/*padding: 2px 2px;*/

	
	box-sizing: border-box;
	border: 2px solid #555;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	
	border-radius: 4px;
	width: 110px;

  }

.name-input{
	/*position: absolute; /* MIGHT STOP JUDDERING NOW!!! +++++++++++++ */
	float: left;
	background: rgba(0, 0, 0, 0);
	/*border: none;*/
	/*font-family: 'Coming Soon', cursive;*/
}

::placeholder  {
	/*font-style: oblique;*/
}

.name-input:focus {
	/*border: 2px solid blue;*/
	/*background-color: grey;
	font-weight: bold;
	color: #000000;*/

	/*
	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	  box-shadow: inset 2px 2px 2px 0px #dddddd;
	  */

	width: 12em; 

	/*
	SHOW BUTTON AND ITS TOOLTIP AND MAKE BUTTON ABLE TO BNE CLICKED
	*/
}

/* hide placeholder text on focus */
input:focus::placeholder{
	color:  rgba(0, 0, 0, 0); /*turn transparent;*/
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*s
h1{
	font-family: 'Coming Soon', cursive;
	color: white;
	font-size: 15px;
}
*/



.testDiv2{
	background-color: yellow;
	/*float: left;*/
	/*width: 20%;*/
	/*position: absolute; stops juddering ++++++++++++++++++++++++++++++++++++++*/ 
	/*margin: auto;*/
	display: inline-block;
}

.testDivContainer{
	float: left;
	width: 20%;
	text-align: center;
}


/*
//=====================================================
*/


.players-container2 {
	background-color: blueviolet;
	width: 100%;
	display: grid;
	/*overflow: auto;*/
	margin: auto;
	
}



/*
++++++++++++++++++++++++++++++++++++++
*/


.wrapperTest{
	background-color: yellow;
	width: 100%;
	/*display: grid;*/
	/*overflow: auto;*/
	margin: auto;
	background-color: red;

}


.col1{

	width: 20%;
	float: left;
	background-color: green;
	text-align: center;
}

.col2{
	
	width: 60%;
	float: left;
	background-color: blue;
	text-align: center;
}


/* +++++++++++++++++++++++++++++TOOL TIP TESTIMG ++++++++++++++++++++++++++++++++ */
/* 
	https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_left
*/

.col3{

	width: 20%;
	/*float: left;*/
	/*text-align: center;*/
	background-color: yellow;


	/*--------------------*/
	position: relative;
  	display: inline-block;
	border-bottom: 1px dotted black;
	/*--------------------*/

}

.col3 .tooltiptext {
	visibility: visible; /*hidden; +++++++++++++++++++++*/
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;

	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 1;/*0 +++++++++++++++++++++++*/
	transition: opacity 1s;
	
  }

  /* ARROW +++++++++++++++++++++++++++++*/
  .col3 .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #000000 transparent transparent;
  }


  .col3:hover .tooltiptext {
	visibility: hidden; /*visible; ++++++++++++++++++++++++++++++*/
	opacity: 0; /* 1 */ /* turn on opacity ++++++++++++++++++++++++++++*/

	margin-right: 40px; /* added by me */
  }


  /*Bouncing text: http://www.css3transition.com/bouncing-text-animation-using-only-css/*/
  
