
* {
	box-sizing: border-box; /*include padding & border in width & heights*/
	
	/*
	/*=====for scrollbar========
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
	box-sizing: border-box;
	*/
}

/*default body properties */
body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif; 
}

/*ingame elements:----------------------------------------------------------------*/

/*container for elements*/
.canvas-container {
	padding-top: 8px;
	position: relative;
	margin: auto;
	width: 873px;
	height: 640px;
}
  
/*canvas layers within container*/
.canvas-container > canvas {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
}

/*stacking order for elements*/
.layer1{z-index: 1;}
.layer2{z-index: 2;}
.layer3{z-index: 3;}

/*game timer*/
#timer{
	position: absolute;
	margin-left: 60px;
	margin-top: 46px;
	font-size: 23px;
	font-weight: 600;
	color: #808080;
}

/*game score*/
#score{
	position: absolute;
	margin-left: 404px;
	margin-top: 405px;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 15px;
	color: #ECF0F1;
	opacity: 0.8;
}

/*modal elements:----------------------------------------------------------------*/

/*modal*/
.modal {
	display: none; /* hidden by default */
	position: fixed; /* Stay in place */
	z-index: 4; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	/*left: 0;
	top: 0;*/
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/*modal content*/
.modal-content {
	position: relative;
   /*background-color: #fefefe;*/
	margin: auto;
	padding: 0;
	/*border: 1px solid #888;*/
	/*width: 35%; /*40%*/ /*++++++++++++++++++++++++++++++++WAS 35!! CHECK THIS AT HOME ++++++++++++++*/
	/*height: 626px; /* ++++++++++++++++++++++++++++++++ADDED FOR BODY (for score within body)*/ 
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/*modal content for into modal */
#intro-modal .modal-content{
	background-color: #fefefe;
	width: 30%; /* ++++++++++++++++++++++++++++++++WAS 35!! CHECK THIS AT HOME ++++++++++++++*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/*modal animation*/
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/*modal header*/
.modal-header {
	/*padding: 2px 16px;*/
	padding: 1px;
	background-color: #5cb85c;
	color: #ffffff;
	text-align: center;
	/*border-radius: 15px 15px 0px 0px;*/
	
}

/*modal title*/
.modal-title{

	font-family: 'Luckiest Guy', cursive;

	/*font-family: 'Bubblegum Sans', cursive;*/
	/*font-family: cursive;*/
	/*font-size: 60px;/* +++++++++++++++++++++++CHECK THIS AT HOME */
}


/*
http://css-workshop.com/css-center-textimagediv-in-middle-of-parent-div-container/
*/

/*modal body*/
.modal-body { /*???????????????????????????????????????????*/
	/*padding: 2px 16px;*/
	/*padding: 4px;*/
	/*background-color:#EEF7EE;++++++++++REMOVED FOR SCORE MODAL (replace again for into modal)*/
	text-align: center; /*NEEDED FOR SCORE CONTAINER */
	/*background-image: url("img/a.png");
	width: 200px;
	height: 200px;*/
	/*position: relative; /*???????????????????????????????????????????*/
	/*height: 100%;*/
	/*height: 500px;*/
	/*width: 500px;*/
	/*margin: auto; /* CENTER IMG TEST */
	/*height: 313px;
	width: 501px;*/
	/*border-radius: 15px 15px 0px 0px;*/
}





/*modal footer*/
.modal-footer {
	/*padding: 2px 16px;*/
	background-color: #5cb85c;
	/*color: white;*/
	/*text-align: center;*/
	/* display: grid;
	grid-template-columns: 1fr 1fr*/
	text-align: center; 
	position: relative; /*???????????????????????????????????????????*/
	/*border-radius: 0px 0px 15px 15px;*/
	/*width: 30%; */
}

/*modal button*/
.modal-button {
	background-color: #008080; 
	border: none;
	color: #ffffff;
	/*padding: 16px 32px;*/
	/*text-align: center;*/
	/*float: left;*/
	/*text-decoration: none;*/
	display: inline-block;
	/*width: 25%;*/
	font-size: 18px;
	margin: 5px;
	-webkit-transition-duration: 0.4s; /* for Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold; /*?????????????????????????????????????????*/
	outline: none;
}

/*modal button hover effect*/
.modal-button:hover {
	background-color: #006666;
	color: #ffffff;
}

/*play button*/
#play-button{
	padding: 16px 32px;
}

/*replay-button*/
#replay-button{
	padding: 8px 16px;
}


/*============================================================*/

/*final score*/  /* ++++++++++++++++++++++++++NEEDED FOR JS (as score is being passed to this)*/
#final-score{
	/*text-align: center; */
	/*margin: auto;
	height: 100%;g\
	width: 100%;
	display: inline-block;
	vertical-align: middle;*/


	
	z-index: 5;
	position: absolute;
	
	margin-left: 50%;
	margin-top: 25%;
	
}

/*
.test{

	position: absolute;
	margin-left: 50%;
	margin-top: 50%;
}
*/


/*============================================================*/
/*???????????????????????????????????????????????*/
#attributions-btn{
	position: absolute;
	right: 0;
	/*vertical-align: middle;*/
	/*background-color: transparent;*/
	border: none;
	color: #1a1d1a;
	/*padding: 16px 32px;*/
	padding: 0px;
	/*text-align: right;*/
	/*float: left;*/
	text-decoration: none;
	display: inline-block;
	width: 25%;
	/*font-size: 18px;*/
	margin: 3px;
	-webkit-transition-duration: 0.4s; /* for Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 4px;
	/*font-weight: bold;*/
	outline: none;


	background-image:url("img/icon1.png");
	background-repeat: no-repeat;
	background-size: cover;

}


/*++++++++++++++++++++++++++++++++++++++++++++++
overflow: auto;

https://www.w3schools.com/cssref/pr_pos_overflow.asp

https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_js_overflow-y

*/

.score-modal-container {
	margin: auto;
	background-image:url("img/blackboard.png");
	background-repeat:no-repeat;
	width: 378px;
	height: 548px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 15px;
	display: grid;
	grid-template-rows: 45px 45px auto 70px;
}


/*
.ribbon-row{ /*needed?????????????????????????????????????(probably not!)*/
	/*background-color: aqua;*/
	/*margin: auto;*/
	/*text-align: center;*/
	/*position: relative;*/
	/*margin-top: 10px;
	/*margin-bottom: 5px;*/
/*}*/



.ribbon {
	/*background-color: aqua;*/

	
	background-image:url("img/redTest12pc.png");
	background-repeat:no-repeat;
	margin: auto;
	width: 226px;
	height: 75px;
	

	/*
	background-image:url("img/plainSign20pc.png");
	background-repeat:no-repeat;
	margin: auto;
	width: 112px;
	height: 37px;
	*/

	/*
	background-image:url("img/greenBanner40pc.png");
	background-repeat:no-repeat;
	margin: auto;
	width: 291px;
	height: 65px;
	*/

	/*display: table;*/
}

.ribbon-font{
	/*background-color: yellow;*/
	
	/*display: table-cell; /* for centering of font */
	/*vertical-align: middle; /* for centering of font */

	/*color: #3B5957;
    background-color: #5D8D89;*/
	/*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	font-size: 17px;*/
	padding-top: 10px;
}

/*8888888888888888span testing8888888888888888*/

.ribbon-font > span{

	/*font: 26px Monaco, MonoSpace;
	height: 200px;
	position: absolute;*/
	height: 200px;
	width: 20px;
	left: 0;
	top: 0;
	transform-origin: bottom center;
}

.char1 { transform: rotate(6deg); }
.char2 { transform: rotate(12deg); }
.char3 { transform: rotate(18deg); }
.char4 { transform: rotate(24deg); }

/*
.char5 { transform: rotate(32deg); }
.char6 { transform: rotate(18deg); }
.char7 { transform: rotate(6deg); }
.char8 { transform: rotate(12deg); }
.char9 { transform: rotate(18deg); }
.char10 { transform: rotate(6deg); }
*/
/*8888888888888888s8888888888888888*/


.plaque-row {
	/*background-color: yellow;*/
	/*background-image:url("img/plateTest.png");
	background-repeat:no-repeat;
	margin: auto;
	width: 378px;
	height: 60px;
	display: block;*/
	/*margin: auto;
	width: 100%;*/
	margin: auto;
	/*text-align: center;*/
	/*position: relative;*/
	margin-top: 10px;
	margin-bottom: 5px;
}



.plaque {
	background-image:url("img/plateTest15pc.png");
	background-repeat:no-repeat;
	/*margin: auto;*/
	width: 82px;
	height: 36px;
	/*text-align: center;*/
	display: table; /* for centering of font */
}

.plaque-font{
	display: table-cell; /* for centering of font */
	vertical-align: middle; /* for centering of font */

	/*color: #3B5957;
    background-color: #5D8D89;*/
	/*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	font-size: 17px;*/
}



#scores-container {
	/*background-color: blueviolet;*/
	/*margin: auto;*/
	width: 100%;
	display: grid;
	overflow: auto;
	/*grid-template-rows: auto;*/
	/*margin-top: 5px;*/
}

.replay-button-container {
	/*background-color: purple;*/
	margin: auto;
	/*width: 100%;*/
	margin-top: 0px; /*??????????????????????????????*/
}

.score-values{
	/*background-color: purple;*/
	margin: auto;
}

.player-name{
	/*background-color: red;*/
	float: left;
	/*margin: 2px;*/
	margin-right: 80px;

	color: white; /* +++++++++++++++++CHANGE THIS OBV!! and add chalk effect to font*/

	font-family: 'Coming Soon', cursive;
}

.player-score{
	/*background-color: grey;*/
	float: right;
	/*margin: 2px;*/

	color: white; /* +++++++++++++++++CHANGE THIS OBV!! and add chalk effect to font*/

	font-family: 'Coming Soon', cursive;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1{
	font-family: 'Coming Soon', cursive;
	color: white;
	font-size: 15px;
	
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.testA {
	background-color: green;
	margin: auto;
	width: 80%;
}

.testB {
	background-color: red;
	margin: auto;
	width: 80%;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*

https://css-tricks.com/the-current-state-of-styling-scrollbars/



/*---------------------------------------------------------------- */



      
     
            
   