
body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif; 
}

/*container for elements*/
.container {
	padding-top: 8px;
	position: relative;
	margin: auto;
	width: 873px;
	height: 640px;
}
  
/*canvas layers within container*/
.container > canvas {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
}

/*stacking order for elements*/
.layer1{z-index: 1;}
.layer2{z-index: 2;}
.layer3{z-index: 3;}


/*game timer*/
#timer{
	/*position: relative; ++++++++++++++++++++++++*/
	position: absolute;
	margin-left: 60px;
	margin-top: 46px;
	font-size: 23px;
	font-weight: 600;
	color: #808080;
}

/*game score*/
#score{
	/*position: relative; +++++++++++++++++++++++++*/
	position: absolute;
	margin-left: 404px;
	margin-top: 410px;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 15px;
	color: #ECF0F1;
	opacity: 0.8;
}


