
/*body {font-family: Arial, Helvetica, sans-serif;} /* hmmmmmmmmmmmmmm?????*/



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  /*left: 0;
  top: 0;*/
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
 /* background-color: #fefefe; */
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;*/
  width: 35%; /*40%*/
  /*height: 40%; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  /*padding: 2px 16px;*/
  padding: 1px;
  background-color: #5cb85c;
  /*color: white;*/
  text-align: center;
}

.modal-title{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 35px;
  /*padding: 80px 50px;*/
  /*text-align: center;*/
  color: #ffffff;

}

.modal-body {
  /*padding: 2px 16px;*/
  /*padding: 4px;*/
  background-color:#EEF7EE;
  text-align: center;
  /*background-image: url("img/a.png");
    width: 200px;
    height: 200px;*/
}

.modal-footer {
  /*padding: 2px;*/
   /*padding: 2px 16px;*/
  background-color: #5cb85c;
  /*color: white;*/
  /*text-align: center;*/
 /* display: grid;
  grid-template-columns: 1fr 1fr*/
  text-align: center; 
  position: relative; 
}


/* ========================================================= */

#play-button {
  /*
  https://www.color-hex.com/color-palettes/ ----------------COLOUR PALLETES
  https://www.color-hex.com/color-palette/4666
  */
  background-color: #008080; 
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  /*text-align: center;*/
  /*float: left;*/
  /*text-decoration: none;*/
  display: inline-block;
  /*width: 25%;*/
  font-size: 18px;
  margin: 6px;
  -webkit-transition-duration: 0.4s; /* for Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  /*overflow: hidden; /*from ripple effect */
  outline: none;
}
  
#play-button:hover {
  background-color: #006666;
  color: #ffffff;
}


/*============================================================*/

/*include padding & border in element width & heights.*/
* {
  box-sizing: border-box; 
}


/*============================================================*/
/*???????????????????????????????????????????????*/
#attributions-btn{
 position: absolute;
 right: 0;
 /*vertical-align: middle;*/
 /*background-color: transparent;*/
 border: none;
 color: #1a1d1a;
 /*padding: 16px 32px;*/
 padding: 0px;
 /*text-align: right;*/
 /*float: left;*/
 text-decoration: none;
 display: inline-block;
 width: 25%;
 /*font-size: 18px;*/
 margin: 3px;
 -webkit-transition-duration: 0.4s; /* for Safari */
 transition-duration: 0.4s;
 cursor: pointer;
 border-radius: 4px;
 /*font-weight: bold;*/
 outline: none;

 
 background-image:url("img/icon1.png");
 background-repeat: no-repeat;
 background-size: cover;

}

