
body{
	margin: 0; 
}

.background{
	background-image: url('img/background.png');
}

.contentWrapper #bgCanvas{
	/*padding-top: 7px;
	display: block;
	margin: auto;*/

	position:absolute;
	left:0px;
	top:0px;
}


.contentWrapper #apple1Canvas{
	/*padding-top: 7px;
	display: block;
	margin: auto;*/
	position:absolute;
	left:0px;
	top:0px;
}
/*-----------------FIX THIS MESS!!---------------------*/

.scoreWrapper{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%; 
	top: 50%; 
} 


.scoreWrapper #scoreId{
	width: auto;
	height: auto;
	position: absolute;
	left: 50%; 
	top: 50%; 
} 


.timerWrapper #timerId{
	width: auto;
	height: auto;
	position: absolute;
	left: 73px;
	top: 50px;
}

	
#timerId, #scoreId {
	position: absolute;
	right: 20px;
	top: 20px;
}

/*------------------------------------------*/

