
body{
	margin: 0; 
}

.background{
	background-image: url('img/background.png');
}

/*
.contentWrapper {
	padding-top: 7px;
	display: block;
	margin: auto;
}
*/

.layer{
	position:absolute;
	left:0px;
	top:0px;
}

#background{z-index: 1;}
#apple5{z-index: 2;}
#apple4{z-index: 3;}
#apple3{z-index: 4;}
#apple2{z-index: 5;}
#apple1{z-index: 6;}
#basket{z-index: 7;}



#apple2Canvas{
	/*padding-top: 7px;
	display: block;
	margin: auto;*/
	position:absolute;
	left:0px;
	top:0px;
	z-index: 3;
}

#apple1Canvas{
	/*padding-top: 7px;
	display: block;
	margin: auto;*/
	position:absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

#bgCanvas{
	/*padding-top: 7px;
	display: block;
	margin: auto;*/
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}



/*-----------------FIX THIS MESS!!---------------------*/

.scoreWrapper{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%; 
	top: 50%; 
} 


.scoreWrapper #scoreId{
	width: auto;
	height: auto;
	position: absolute;
	left: 50%; 
	top: 50%; 
} 


.timerWrapper #timerId{
	width: auto;
	height: auto;
	position: absolute;
	left: 73px;
	top: 50px;
}

	
#timerId, #scoreId {
	position: absolute;
	right: 20px;
	top: 20px;
}

/*------------------------------------------*/

